body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.navContainer {
    max-width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    color: white;  
    font-size: 18px;
    font-weight: bold;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: start;
}
.links{
    display: flex;
    align-items: flex-end;
}
.navLink {
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
.navLink:hover {
    color: coral;
}
.navButton {
    visibility: hidden;
    min-height: 3px;
    background-color: white;
    color: rgb(190, 187, 187);
    border-style: none;
    border-radius: 3px;
}
.logo {
    font-size: 18px;
    font-weight: bolder;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 9999s, opacity 0.1s linear;
  }
.dropContent {
      visibility: hidden;
      position: absolute;
  }
.show {
    visibility: visible;
  }
.navHidden {
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 15px;
    margin-left: -100%;
    opacity: 90%;
    font-family: 'Roboto', sans-serif;
}
.navHidden:hover { 
    background-color: rgb(238, 238, 238);
    color: black;
}
#hero {
    height: 90vh;
    background-color: black;
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
}
.container {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.caption {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9%;
}
h1 {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}
h2 {
    font-size: 36px;
    margin-top: 0px;
}
.description {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.image {
    max-width: 50%;
}
.heroImage {
    max-width: 100%;
    height: auto;
}
.heroButton {
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 1.5px;
    font-size: 15px;
    padding: 12px;
    padding-right: 18px;
    padding-left: 18px;
}
.heroButton:hover {
    background-color: white;
    color: black;
    transition: .35s;
}
#about {
    height: 75vh;
}
.aboutContainer {
    display: flex;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%
}
.aboutRow{
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.aboutImageDiv {
    max-width: 50%;
}
.aboutImage {
    max-width: 90%;
    border-radius: 5px;
}
.aboutCaption {
    max-width: 50%;
}
.aboutButton {
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    border-width: 1.5px;
    font-size: 15px;
    padding: 12px;
    padding-right: 22px;
    padding-left: 22px;
    margin-top: 10px;
}
.aboutButton:hover {
    background-color: black;
    color: white;
    transition: .35s;
}
#packages {
    height: 75vh;
    background-color: rgb(238, 238, 238);
}
.packagesContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%
}
.packageRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pack {
    background-color: white;
    height: 200px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
}
.packButton {
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 1.5px;
    font-size: 15px;
    padding: 12px;
    padding-right: 18px;
    padding-left: 18px;
}
.pack p {
    padding-left: 3%;
    padding-right: 3%;
}
.packButton:hover {
    background-color: white;
    color: black;
    transition: .35s;
    border-color: black;
}
#reviews {
    height: 75vh;
}
.reviewsContainer {
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 5%;
    text-align: center;
}
.review{
    background-color: rgb(238, 238, 238);
    height: 400px;
    width: 100px;
}
#contact {
    height: 75vh;
    background-color: rgb(238, 238, 238);
}
.contactContainer {
    display: block;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 5%;
    text-align: center;
}
.contactForm {
    max-width: 600px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    border-radius: 5px;;
}
.form {
    background-color: rgb(238, 238, 238);
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;;
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
}
input {
    height: 40px;
}
.message {
    height: 100px;
}
.submit {
    background-color: black;
    color: white;
    width: 100px;
    align-self: center;
}
.submit:hover {
    background-color: white;
    color: black;
    transition: .35s;
    border-color: black;
}
@media only screen and (min-width: 400px) and (max-width: 767px) {
    .navbar {
        padding-left: 2%;
    }
    .navLink {
        visibility: hidden;
        margin-left: 0;
    }
    .navButton{
        visibility: visible;
        height: 25px;
        width: 50px;
        right: 0;
    }
    .image { 
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .caption{
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20%;
    }
    .aboutContainer {
        max-width: 100%;
    }
    .aboutImageDiv {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .aboutImage {
        max-width: 100%;
    }
    .aboutCaption {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
    }
    .packagesContainer h2 {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .packageRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .pack {
        background-color: white;
        height: 130px;
        width: 100%;
        margin: 10px;
        border-radius: 5px;
    }
    .pack h3 {
        margin-top: 1%;
        margin-bottom: .5%;
    }
    .pack p {
        margin-bottom: 1%;
    }
    .packButton {
        padding: 8px;
    }
    #hero {
        height: 100vh;
    }
    #about {
        height: 100vh;
    }
    #packages {
        height: 120vh;
        
    }
    .contactContainer {
        margin-right: 10%;
        margin-left: 10%;
    }   
}